body{
    background-color: #fbf4ff;
}
h1.name{
    text-align: center;
}
div.base{
    background-color: #dfdcfa;
    padding: 30px;
    border-radius: 15px;
    text-align: justify;
    margin: 10px auto;
    max-width: 700px;
    height: auto;
    width: auto;
}
div.button{
    display: flex;
    align-items: center;
    gap: 15px;
}
div.you{
    width: auto;
    height: 300px;
    text-align: center;
    background-image: url("./Imagens/PlanoFundo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
img.redes{
    --tamanho: 50px;
    height: var(--tamanho);
    width: var(--tamanho);
    border-radius: var(--tamanho);
}
img.redes:hover{
    --tamanho: 50px;
    height: var(--tamanho);
    width: var(--tamanho);
    border-radius: var(--tamanho);
    box-shadow: 0 0 1em 0 #27205c;
}
img.icon{
    --tamanho: 30px;
    height: var(--tamanho);
    width: var(--tamanho);
}
div.divPerfil{
    --tamanho: 150px;
    height: var(--tamanho);
    width: var(--tamanho);
    border-radius: var(--tamanho);
    background-image: url("./Imagens/perfil.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: -55px auto;
    margin-bottom: 0px;
}